<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view></router-view>
  </div>
</template>

<script>
import Hello from './components/Hello.vue'
import UserIdBar from './components/UserIdBar.vue'
import Bodylinks from './components/Bodylinks.vue'

export default {
  name: 'app',
  components: {
    Hello,
    Bodylinks,
    UserIdBar
  }
}
</script>

<style>
/*#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/
</style>
