<template>
  <div id="app">
    <div>
<!--      <div class="ui hidden divider"></div> -->
      <menu-bar></menu-bar>

<!--      <div class="ui hidden divider"></div>
      <user-id-bar></user-id-bar>
      <div class="ui hidden divider"></div>
      <url-ingester></url-ingester>
      <div class="ui hidden divider"></div>
      <search-and-results></search-and-results>
      <div class="ui hidden divider"></div> -->

      <!-- <div class="ui tiny fluid action input">
        <input type="text" v-model="websession" placeholder="Websession UUID"/>
        <button class="ui red right labeled icon button" v-on:click="getNoteList">
          <i class="refresh icon"></i>
          Refresh index
        </button>

      </div> -->
      <div class="ui large fluid vertical steps">
        <a class="step">
          <i class="truck icon"></i>
          <div class="content">
            <div class="description">{{ activeArtefact.name }}</div>
          </div>
        </a>
      </div>

      <file-list></file-list>

      <div class="ui vertical masthead center aligned segment">
        {{ activeArtefact.uuid }}
      </div>
      <br>
      <div class="ui text container">

        <div id="main" v-cloak v-on:click="hideTooltip" >
          <new-artefact-form v-show="isShowNewArtefactForm"></new-artefact-form>
          <artefact-form v-if="isShowArtefactEdit"></artefact-form>
          <artefact-view v-if="!isShowArtefactEdit"></artefact-view>

          <div v-show="loading">
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Loading</div>
            </div>
          </div>

          <!-- </div> -->

          <!-- When the paragraph is clicked, call the "toggleTooltip" method and stop event propagation. -->

          <!-- The mustache expression will be replaced with the value of "text_content".
               It will automatically update to reflect any changes to that variable. -->

          <!-- <p v-on:click.stop="toggleTooltip">{{ note_text }}</p> -->

        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <bottom></bottom>
  </div>
</template>

<script>
import axios from 'axios'
import Vuex from 'vuex'
import showdown from 'showdown'
import $ from 'jquery'
window.jQuery = $ // For scripts that need `jQuery` instead of `$`
import UserIdBar from './components/UserIdBar.vue'
import MenuBar from './components/MenuBar.vue'
import FileList from './components/FileList.vue'
import NodeListItem from './components/NodeListItem.vue'
import ArtefactView from './components/ArtefactView.vue'
import NewArtefactForm from './components/NewArtefactForm.vue'
import ArtefactForm from './components/ArtefactForm.multiselectwip.vue'
import Bottom from './components/Bottom.vue'
import UrlIngester from './components/UrlIngester.vue'
import SearchAndResults from './components/SearchAndResults.vue'
// import Hello from './components/Hello.vue'

// export default {
//   name: 'app',
//   components: {
//     Hello
//   }
// }

var initArray = []
for (var i = 1; i <= 7; i++) { // > # Hashtag just here to help with syntax highlighting in nano
  initArray.push(i)
}

// Markdown
var converter = new showdown.Converter()
converter.setFlavor('github')
// text      = '#hello, markdown!',
// html      = converter.makeHtml(text);

function getBlankArtefactData () {
  return {
    noteID: null,
    name: null,
    contact_phone_text: null,
    uuid: null,
    description: null,
    content: null,
    content_in_html: null,
    steps_taken_text: null,
    flow_followed_text: null,
    outcome_text: null,
    connectedArtefacts: [],
    connectedArtefactList: [],
    artefacts: [],
    identities_with_permission: ['257a1954-a25c-4376-bd22-b48eef00753c'],
    identities_with_permission_display: []
  }
}

// v = new Vue({
export default {
  // el: '#app',
  name: 'app',
  data: function () {
    return {
      // isShowNewArtefactForm: true,
      agentItem: 'Hello Vue.js!',
      agentItemProperties: [
        { key: 'name', value: 'Agent' },
        { key: 'thumbnail', value: '' },
        { key: 'Description', value: 'Description' },
        { key: 'Content', value: 'Content' },
        { key: 'Alias', value: 'alias text' },
        { key: 'Details', value: 'detail text' },
        { key: 'Artefacts', value: 'artefacts text' }
      ],
      artefactDescription: null,
      counter: null,
      artefact: getBlankArtefactData(),
      // artefact: {
      //   noteID: null,
      //   name: null,
      //   contact_phone_text: null,
      //   uuid: null,
      //   description: null,
      //   content: null,
      //   steps_taken_text: null,
      //   flow_followed_text: null,
      //   outcome_text: null,
      //   connectedArtefacts: [],
      //   connectedArtefactList: [],
      //   artefacts: [],
      //   identities_with_permission: []
      // },
      websession: '246f2751-346d-4c36-bcf5-0ff4eb589b55',
      http: { headers: { Authorization: this.websession } },
      json: null,
      response: null,
      originalFilename: null,
      voiceMemoName: null,
      jsonIndex: [],
      loading: false,
      show_tooltip: false,
      stopwatch: null
    }
  },
  created: function () {
    // this.getArtefactInfo('0643d8c5-fc67-431c-b015-7c5894439058');
    if (this.$route.params.uuid) {
      console.log('this.$route.params.uuid found')
      console.log(this.$route.params.uuid)
      this.getAndSetActiveArtefactFromAPI(this.$route.params.uuid)
    } else {
      console.log('$route.params.uuid not found')
      this.getNoteList()
    }
    // console.log("noteID from inside created(): " + noteID);
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
    isShowArtefactEdit: function () {
      return this.$store.getters.isShowArtefactEdit
    },
    isShowNewArtefactForm: function () {
      return this.$store.getters.isShowNewArtefactForm
    },
    paramuuid: function () {
      return this.$route.params.uuid
    }
  },
  watch: {
    paramuuid: function (artefactuuid) {
      this.getAndSetActiveArtefactFromAPI(this.$route.params.uuid)
    }
  },
  // ready: function(){
  //   this.loading = true;
  //   // GET request
  //   axios({url: '/someUrl', method: 'GET'}).then(
  //   function (response) {
  //       // success artefactback
  //       this.loading = false;
  //   }.bind(this),
  //   function (response) {
  //       // error callback
  //   });
  // },
  filters: {

    truncate: function (string, value) {
      return string.substring(0, value) + '...'
    }
  },
  methods: {
    getAndSetActiveArtefactFromAPI: function (artefactuuid) {
      this.$store.dispatch('getAndSetActiveArtefactFromAPI', artefactuuid)
    },
    getArtefactInfo: function (uuid) {
      // this.loading = true
      this.artefact = getBlankArtefactData()
      var url = encodeURI('/artefacts/' + uuid)
      // Using getJSON
      // $.getJSON(url, function (parsedJSON) {
      //   this.originalFilename = parsedJSON.url;
      //   this.voiceMemoName = parsedJSON.title;
      //   parsedJSONMinusRaw = parsedJSON;
      //   this.deleteFromObjectByKeyPart ("Raw", parsedJSONMinusRaw);
      //   // delete parsedJSONMinusRaw["originalMetaDataDumpRaw"];
      //   // this.json = parsedJSON;
      //   this.json = parsedJSONMinusRaw;
      // });
      // Using axios (requires vue-resource)
      // axios.get(url, {headers: {"Authorization": 'Token token="246f2751-346d-4c36-bcf5-0ff4eb589b55"'}}).then(
      axios.get(url, {headers: {'Authorization': 'Token token=' + this.websession}}).then(
        (request) => {
          // success callback
          var returnedJSON = request.data.artefact
          this.response = JSON.stringify(request, null, 2)
          // console.log(returnedJSON);
          this.artefact.uuid = returnedJSON.id
          this.artefact.name = returnedJSON.name
          this.artefact.description = returnedJSON.description
          this.artefact.content = returnedJSON.content
          this.artefact.content_in_html = converter.makeHtml(returnedJSON.content)
          this.artefact.artefacts = []
          for (var thisArtefact in returnedJSON.artefacts) {
            // console.log(returnedJSON.artefacts[thisArtefact])
            this.artefact.artefacts.push(returnedJSON.artefacts[thisArtefact].id)
          }
          this.artefact.identities_with_permission_display = []
          for (var thisIdentity in returnedJSON.identities_with_permission) {
            // console.log(returnedJSON.identities_with_permission[thisIdentity])
            this.artefact.identities_with_permission_display.push(returnedJSON.identities_with_permission[thisIdentity].username)
          }
          this.artefact.connectedArtefacts = returnedJSON.artefacts
          // console.log(returnedJSON.artefacts)
          // console.log(this.artefact.connectedArtefacts)
          // this.thumbnail = parsedJSON.thumbnailUrl
          var returnedJSONMinusRaw = returnedJSON
          this.deleteFromObjectByKeyPart('Raw', returnedJSONMinusRaw)
          // delete parsedJSONMinusRaw["originalMetaDataDumpRaw"]
          // this.json = parsedJSON;
          // this.json = parsedJSONMinusRaw;
          this.json = returnedJSONMinusRaw.artefact
          this.loading = false
        }, (error) => {
        // error callback
        console.log(error)
        this.json = {error: 'Error'}
        this.loading = false
      }
      )
    },
    getNoteList: function () {
      var inboxbool = true
      this.$store.dispatch('getNoteList', inboxbool)
    },
    setJsonIndex: function (array) {
      this.$root.jsonIndex = array
    },
    submitToAPI: function () {
      console.log('Save button pressed')
      console.log(this.artefact.uuid)
      if (this.artefact.uuid) {
        // Update an existing node
        var patchURL = '/artefacts/' + this.artefact.uuid
        console.log(patchURL)
        // axios.put(patchURL, {artefact: this.artefact, identities_with_permission: "257a1954-a25c-4376-bd22-b48eef00753c"}, {headers: {"Authorization": "Token token=" + this.websession}}).then(function (response) {
        axios.put(patchURL, {artefact: this.artefact}, {headers: {'Authorization': 'Token token=' + this.websession}}).then(function (response) {
          // success callback
          console.log('Update successful')
          console.log(response)
          this.blankTheUI()
          this.getNoteList()
          // this.getArtefactInfo(response.data.artefact.uuid)
        }, function (response) {
          // error callback
          console.log(response)
        })
      } else {
        // Create a new node
        axios.post('/artefacts', {artefact: this.artefact}, {headers: {'Authorization': 'Token token=' + this.websession}}).then((response) => {
          // success callback
          console.log('Save successful')
          console.log(response)
          this.blankTheUI()
          this.getNoteList()
        }, (error) => {
          // error callback
          console.log(error)
        })
      }
    },
    toggleShowArtefactEdit: function () {
      this.$store.dispatch('toggleShowArtefactEdit')
    },
    deleteFromAPI: function () {
      console.log('Delete button pressed')
      if (this.artefact.uuid) {
        // Update an existing node
        var deleteURL = '/artefacts/' + this.artefact.uuid
        console.log(deleteURL)
        axios.delete(deleteURL, {artefact: this.artefact, headers: {'Authorization': 'Token token=' + this.websession}}).then(function (response) {
          // success callback
          console.log('Delete successful.')
          console.log(response)
          this.blankTheUI()
          this.getNoteList()
        }, function (response) {
          // error callback
          console.log('Delete failed.')
          console.log(response)
          this.getNoteList()
        })
      } else {
        console.log('UUID not set. Delete not valid.')
      };
    },
    previousCall: function () {
      // console.log("this.artefact.noteID from inside previousCall: " + this.artefact.noteID);
      // newID = this.artefact.noteID.replace(/(\d+)+/g, function(match, number) {
      //   return parseInt(number)-1;
      // });
      // console.log("previousCall number: " + newID);
      // console.log(this.loadFromNoteID(newID));
    },
    nextCall: function () {
      // console.log("NEXT CALL CLICKED");
      // localStorage.setItem(this.artefact.noteID, JSON.stringify(this.artefact));
      // this.counter = this.counter + 1;
      // localStorage.setItem("masterCounter", this.counter);
      // this.artefact.noteID = this.counter;
      // this.artefact.name = null,
      // this.artefact.contact_phone_text = null,
      // this.artefact.uuid = null,
      // this.artefact.description = null,
      // this.artefact.content = null,
      // this.artefact.steps_taken_text = null,
      // this.artefact.flow_followed_text = null,
      // this.artefact.outcome_text = null,
      // this.stopwatch = null
    },
    blankTheUI: function () {
      // this.artefact.name = null;
      // this.artefact.uuid = null;
      // this.artefact.description = null;
      // this.artefact.content = null;
      // this.artefact.artefacts = [];
      console.log('Blanking the UI')
      this.artefact = getBlankArtefactData()
    },
    deleteFromObjectByKeyPart: function (keyPart, obj) {
      for (var k in obj) {           // Loop through the object
        if (~k.indexOf(keyPart)) {   // If the current key contains the string we're looking for
          delete obj[k]          // Delete obj[key];
        }
      }
    },
    camelCaseToCapitalized: function (string) {
      var result = string.replace(/([A-Z])/g, ' $1')
      var finalResult = result.charAt(0).toUpperCase() + result.slice(1)  // capitalize the first letter - as an example.
      return finalResult
    },
    hideTooltip: function () {
      // When a model is changed, the view will be automatically updated.
      this.show_tooltip = false
    },
    toggleTooltip: function () {
      this.show_tooltip = !this.show_tooltip
    }
  },
  components: {
    UserIdBar,
    MenuBar,
    UrlIngester,
    SearchAndResults,
    FileList,
    NodeListItem,
    ArtefactView,
    ArtefactForm,
    NewArtefactForm,
    Bottom
    // data: {
    //   filename: null
    // }
  }
// })
}

// Turn the multiple-selects in to dropdowns
// $('#artefactdropdown').dropdown();
// $('#artefact_creator')
//   .dropdown()
// $('#artefact_geospatialRecordedAt')
//   .dropdown()
</script>

<style>
/*#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/
</style>
