<template>
<div class="ui segment">
  <h3>Is referred to by these Artefacts:</h3>
  <div class="ui relaxed list">
    <div v-for="thisArtefact in activeArtefact.artefacts_referred_to_by" class="item">
      <div class="content">
        <router-link v-bind:to="{ name: 'byuuid', params: { uuid: thisArtefact.uuid }}">{{ thisArtefact.name }}</router-link>
        <div class="description">{{ thisArtefact.description }}</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'artefact-is-referred-to-by-list',
  data: function () {
    return {
    }
  },
  methods: {
    getAndSetActiveArtefactFromAPI: function (artefactuuid) {
      this.$store.dispatch('getAndSetActiveArtefactFromAPI', artefactuuid)
    }
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
    isArtefactLoading: function () {
      return this.$store.getters.isArtefactLoading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
