<template>
<div class="ui segment" id="artefact-view">
  <h2 class="ui header">{{ activeArtefact.name }}</h2>
  <p>UUID: {{ activeArtefact.uuid }}</p>

  <div class="ui segment" id="artefactdescription">
    <div class="ui top attached label">description</div>
    <p>{{ activeArtefact.description }}</p>
  </div>

  <div class="ui container" id="artefactcontent">
    <div v-html="content_in_html"></div>
  </div>

  <artefact-refers-to-list></artefact-refers-to-list>
  <artefact-is-referred-to-by-list></artefact-is-referred-to-by-list>
  <artefact-refers-to-identities-list></artefact-refers-to-identities-list>

  <div class="one field">
    <!-- <select v-model="artefact.artefacts" multiple id="artefactdropdown" class="ui fluid dropdown"> -->
    <!-- <select v-model="activeArtefact.artefacts" multiple size="8" id="artefactdropdown" >
      <template v-for="thisNode in jsonIndex">
        <option v-bind:value="thisNode.uuid">{{ thisNode.name }}</option>
      </template> -->
      <!-- <template v-for="thisArtefact in artefact.connectedArtefacts">
        <option v-value="thisartefact.uuid">{{ thisArtefact.name }}</option>
      </template> -->
    <!-- </select> -->
  </div>

  <!--  <div class="two fields">
    <div class="field">
      <textarea v-model="activeArtefact.identities_with_permission_display" placeholder="Identities with Permission" rows="8"></textarea>
    </div>
    <div class="field">
      <textarea>{{ jsonIndex }}</textarea>
    </div>
  </div> -->

  <a v-show="true" class="ui labeled icon button" v-on:click="setShowArtefactEdit(true)">
    <i class="edit icon"></i>
    Edit
  </a>
  <a v-show="true" class="ui labeled icon button" v-on:click="flushActiveArtefactFromStoreAndGetAgain">
    <i class="refresh icon"></i>
    Refresh This
  </a>
  <a v-show="true" class="ui red labeled icon button" v-on:click="deleteActiveArtefactFromAPI">
    <i class="trash icon"></i>
    Delete
  </a>
  <div class="ui inverted dimmer" v-bind:class="{ active: isArtefactLoading }">
    <div class="ui text loader">Loading Artefact</div>
  </div>

</div>
</template>

<script>
import showdown from 'showdown'
import ArtefactRefersToList from './ArtefactRefersToList.vue'
import ArtefactIsReferredToByList from './ArtefactIsReferredToByList.vue'
import ArtefactRefersToIdentitiesList from './ArtefactRefersToIdentitiesList.vue'

// Markdown
var converter = new showdown.Converter()
converter.setFlavor('github')
// text      = '#hello, markdown!',
// html      = converter.makeHtml(text);

// this.artefact.content = returnedJSON.content
// this.artefact.content_in_html = converter.makeHtml(activeArtefact.content)

export default {
  name: 'artefact-view',
  data: function () {
    return {
      jsonIndex: []
    }
  },
//  mounted: {
//    https://laracasts.com/discuss/channels/vue/manipulating-the-dom-with-vuejs?page=0 // Manipulate with plain javascript by erikverbeek
//    https://www.sitepoint.com/dom-manipulation-vanilla-javascript-no-jquery/
//    https://gist.github.com/joyrexus/7307312 // 'conversions' between jQuery and vanilla
//
//    console.log(document.querySelectorAll('#artefact-view a'))
//  },
  methods: {
    toggleFavorite: function (artefact) {
      this.$store.dispatch('toggleFavorite', artefact)
    },
    deleteArtefactFromAPI: function (artefactuuid) {
      console.log('Calling deleteArtefactFromAPI')
      this.$store.dispatch('deleteArtefactFromAPI', artefactuuid)
    },
    flushActiveArtefactFromStoreAndGetAgain: function () {
      console.log('Calling flushStoreAndSetActiveArtefactByUUID')
      this.$store.dispatch('flushStoreAndSetActiveArtefactByUUID', this.activeArtefact.uuid)
    },
    deleteActiveArtefactFromAPI: function () {
      console.log('Calling deleteArtefactFromAPI')
      this.$store.dispatch('deleteArtefactFromAPI', this.activeArtefact.uuid)
    },
    setShowArtefactEdit: function (bool) {
      this.$store.dispatch('setShowArtefactEdit', bool)
    },
    toggleShowArtefactEdit: function () {
      this.$store.dispatch('toggleShowArtefactEdit')
    },
    returnIFrameFromVideoURL: function (url) {
      console.log('returnIFrameFromVideoURL: function (' + url + ')')
      var pattern1 = /(?:http?s?:\/\/)?(?:www\.)?(?:vimeo\.com)\/?(.+)/g // Broken as of 2019-02-25
      var pattern2 = /(?:http?s?:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=|embed\/)?(.+)/g // Only does the URL itself

      if (url.startsWith('https://www.youtube.com/channel/')) {
        return false
      }
      if (url.startsWith('https://youtube.com/subscription_center')) {
        return false
      }
      if (url.startsWith('https://www.youtube.com/red')) {
        return false
      }

      var replacement = null
      if (url.match(pattern1)) {
        // return '<iframe width="420" height="345" src="//player.vimeo.com/video/$1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
        return false
      }

      if (pattern2.test(url)) {
        console.log('Found YouTube link. pattern2.test(url) = ' + pattern2.test(url))
        console.log('url.match(pattern2) = ' + url.match(pattern2))
        var youtubeID = this.getYouTubeID(url)
        console.log('youtubeID = ' + youtubeID)
        if (youtubeID) {
          var el = document.createElement('div')
          el.className = 'embed-container'
          el.innerHTML = '<iframe src="https://www.youtube.com/embed/' + youtubeID + '" frameborder="0" allowfullscreen></iframe>'
          return el
        } else {
          return false
        }
      }

      return false
    },
    getYouTubeID: function (url) {
      url = url.split(/(vi\/|v%3D|v=|\/v\/|youtu\.be\/|\/embed\/)/)
      return undefined !== url[2] ? url[2].split(/[^0-9a-z_-]/i)[0] : url[0]
    }
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
    isArtefactLoading: function () {
      return this.$store.getters.isArtefactLoading
    },
    content_in_html: function () {
      if (this.activeArtefact) {
        // var rawHtml = converter.makeHtml(this.activeArtefact.content)
        var thisHTML = converter.makeHtml(this.activeArtefact.content)
        var el = document.createElement('div')
        el.innerHTML = thisHTML
//        if (el.getElementsByTagName('a')) {

        var children = [...el.getElementsByTagName('a')]
        children.forEach((element) => {
          console.log('element' + element)
          var iframe = this.returnIFrameFromVideoURL(element.href)
          console.log('iframe: ' + iframe)
          if (iframe) {
            element.insertBefore(iframe, null)
          }
        })

//          el.getElementsByTagName('a').each(function (element) {
//            var iframe = this.returnIFrameFromVideoURL(element.href)
//            el.insertBefore(iframe, null)
//          })
//        }
        // document.querySelectorAll('#artefact-view a').forEach(function(element) { console.log(element.href)}) // Works

        // return convertedHTML
        // return thisHTML
        return el.innerHTML
      } else {
        return null
      }
    }
  },
  components: {
    ArtefactRefersToList,
    ArtefactIsReferredToByList,
    ArtefactRefersToIdentitiesList
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
img {
  max-width: calc(100% - 20px);
  // min-width: calc(100% - 20px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
