<template>
  <div class="ui tiny form" v-bind:class="{ loading: isArtefactLoading }">
    <div class="one field">
      <div class="field">
        <input type="text" v-model="activeArtefact.name" placeholder="Artefact"/>
      </div>
    </div>

    <div class="one field">
      <div class="field">
        <input type="text" v-model="activeArtefact.uuid" placeholder="UUID" />
      </div>
    </div>

    <div class="one field">
      <div class="field">
        <textarea v-model="activeArtefact.description" placeholder="Description" rows="3"></textarea>
      </div>
    </div>

    <div class="one field">
      <div class="field">
        <textarea v-model="activeArtefact.content" placeholder="Content (Markdown)" rows="20"></textarea>
      </div>
    </div>
<!-- 
    <div class="ui container">
        <div v-html="artefact.content_in_html"></div>
    </div>
 -->

 <!--    <div class="one field">
      <select v-model="artefact.artefacts" multiple size="8" id="artefactdropdown" >
        <option value="">Choose Artefacts to connect</option>
        <template v-for="thisNode in this.$store.getters.artefacts">
          <option v-bind:value="thisNode.uuid">{{ thisNode.name }}</option>
        </template>
      </select>
    </div>
 -->
    <!-- <div class="two fields">
      <div class="field">
        <textarea v-model="artefact.identities_with_permission_display" placeholder="Identities with Permission" rows="8"></textarea>
      </div>
      <div class="field">
        <textarea>{{ jsonIndex }}</textarea>
      </div>
    </div> -->

<!--     <div class="field">
      <textarea v-model="response" placeholder="Raw response" rows="15"></textarea>
    </div> -->

    <a v-show="true" class="ui green labeled icon button" v-on:click="submitToAPI(activeArtefact)">
      <i class="fa fa-save"></i>
      Save
    </a>
    <a v-show="true" class="ui red labeled icon button" v-on:click="deleteArtefact(this.activeArtefact.uuid)">
      <i class="fa fa-delete"></i>
      Delete
    </a>
    <a v-show="true" class="ui red labeled icon button" v-on:click="deleteActiveArtefactFromAPI">
      <i class="fa fa-delete"></i>
      Delete From API
    </a>
    <a v-show="true" class="ui labeled icon button" v-on:click="setShowArtefactEdit(false)">
      <i class="fa fa-ban"></i>
      Cancel Edit Mode
    </a>
  </div>
</template>

<script>
import { getSingleNote, editNote, deleteNote, toggleFavorite } from '../vuex/actions'
import axios from 'axios'

export default {
  name: 'artefact-form',
  data () {
    return {
    }
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
    isArtefactLoading: function () {
      return this.$store.getters.isArtefactLoading
    }
  },
  methods: {
    artefact () {
      this.$store.getters.activeArtefact
    },
    isArtefactListLoading (bool) {
      this.$store.dispatch('isArtefactListLoading', bool)
    },
    getNoteList () {
      this.$store.dispatch('isArtefactListLoading', true)
      this.$store.dispatch('getNoteList')
      // this.isLoading = false
    },
    isArtefactLoading (bool) {
      this.$store.dispatch('isArtefactLoading', bool)
    },
    getSingleArtefact (artefact) {
      this.$store.dispatch('getSingleArtefact')
    },
    editArtefact (artefact) {
      this.$store.dispatch('editArtefact', artefact)
    },
    setShowArtefactEdit: function (bool) {
      this.$store.dispatch('setShowArtefactEdit', bool)
    },
    submitToAPI (artefact) {
      this.$store.dispatch('editArtefact', artefact)
    },
    deleteArtefact (artefactuuid) {
      this.$store.dispatch('deleteArtefact', artefactuuid)
    },
    deleteArtefactFromAPI (artefactuuid) {
      this.$store.dispatch('deleteArtefactFromAPI', artefactuuid)
    },
    deleteActiveArtefactFromAPI () {
      this.$store.dispatch('deleteArtefactFromAPI', this.activeArtefact.uuid)
    },
    toggleFavorite (artefact) {
      this.$store.dispatch('toggleFavorite', artefact)
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
