<template>
  <div class="ui tiny form" v-bind:class="{ loading: isArtefactLoading }">
    <div class="one field">
      <div class="field">
        <label>Name</label>
        <input type="text" v-model="activeArtefact.name" placeholder="Artefact"/>
      </div>
    </div>

    <div class="one field">
      <div class="field">
        <label>Description</label>
        <textarea v-model="activeArtefact.description" placeholder="Description" rows="3"></textarea>
      </div>
    </div>

    <div class="one field">
      <div class="field">
        <label>Content (Markdown)</label>
        <textarea v-model="activeArtefact.content" placeholder="Content (Markdown)" rows="20"></textarea>
      </div>
    </div>

    <div class="one field">
<!--      <select v-model="localArtefacts" multiple size="8" id="artefactdropdown" class="ui fluid search dropdown">  # Does work, but semantic-ui is not responsive -->
      <select v-model="localArtefacts" multiple size="8" id="artefactdropdown">
        <option disabled value="">Choose Artefacts to connect</option>
        <option v-for="thisNode in this.$store.getters.artefacts" v-bind:value="thisNode.uuid" v-bind:selected="checkArtefactsForID(thisNode.uuid)" v-bind:key="thisNode.uuid">{{ thisNode.name }}</option>
      </select>
    </div>
    <div class="one field"> <!-- For vue-multiselect. Maybe in the future. -->
<!--      <multiselect placeholder="Pick action" :value="this.$store.getters.value" :options="this.$store.getters.options" :searchable="false" @input="updateValueAction"></multiselect> -->
<!--      <multiselect placeholder="Pick multiselect" v-model="activeArtefactArtefacts" :options="this.$store.getters.artefacts" label="name" :searchable="true"></multiselect> -->
<!--      <artefact-multi-select></artefact-multi-select> -->
    </div>
    <div class="one field"> <!-- For vue-select -->
<!--      <v-select
        label="Pick action"
        :value="this.$store.getters.activeArtefact.artefacts"
        :options="this.$store.getters.artefacts"
        :multiple=true
        @input="updateActiveArtefactConnectedArtefacts"></v-select> -->
<!--      <artefact-multi-select></artefact-multi-select> -->
    </div>
 
  <!-- <div class="two fields">
      <div class="field">
        <textarea v-model="artefact.identities_with_permission_display" placeholder="Identities with Permission" rows="8"></textarea>
      </div>
      <div class="field">
        <textarea>{{ jsonIndex }}</textarea>
      </div>
    </div> -->

    <a v-show="true" class="ui green labeled icon button" v-on:click="submitToAPI(activeArtefact)">
      <i class="save icon"></i>
      Save
    </a>
    <a v-show="true" class="ui red labeled icon button" v-on:click="deleteActiveArtefactFromAPI">
      <i class="trash icon"></i>
      Delete
    </a>
    <a v-show="true" class="ui labeled icon button" v-on:click="setShowArtefactEdit(false)">
      <i class="ban icon"></i>
      Cancel Edit Mode
    </a>
  </div>
</template>

<script>
import { getSingleNote, editNote, deleteNote, toggleFavorite } from '../vuex/actions'
// import * from 'semantic-ui-dropdown'
import axios from 'axios'
// import vSelect from 'vue-select'
// vue-select notes:
// https://github.com/sagalbot/vue-select/issues/169#event-1021389505 # Vuex: vue-select wipes out the getter assigned to value.sync #169

// import Multiselect from 'vue-multiselect' // Just doesn't seem to work
// multiselect notes:
// https://github.com/monterail/vue-multiselect/issues/331#issuecomment-290098617 # Request: Example repo with Vue 2.x, webpack, Vuex, and Vue-Multiselect #331

export default {
  name: 'artefact-form',
//  components: {vSelect},
//  components: {Multiselect},
  data () {
    return {
      localArtefacts: this.$store.getters.activeArtefact.artefacts.map(function (node) { return node.uuid })
    }
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
//    activeArtefactArtefacts: function () {
//      return this.$store.getters.activeArtefact.artefacts
//    },
    activeArtefactArtefacts: {
      get: function () {
        return this.$store.getters.activeArtefact.artefacts
      },
      set: function (newArray) {
        this.$store.dispatch('updateActiveArtefactConnectedArtefacts', newArray)
      }
    },
    activeArtefactArtefactUUIDs: function () {
      return this.$store.getters.activeArtefact.artefacts.map(function (node) { return node.uuid })
    },
    isArtefactLoading: function () {
      return this.$store.getters.isArtefactLoading
    }
  },
  watch: {
    activeArtefactArtefacts: function () {
      this.localArtefacts = this.$store.getters.activeArtefact.artefacts.map(function (node) { return node.uuid })
    }
  },
  methods: {
    updateValueAction () {
      console.log('Ran updateValueAction')
    },
    updateActiveArtefactConnectedArtefacts (array) {
      this.$store.dispatch('updateActiveArtefactConnectedArtefacts', array)
    },
    isArtefactListLoading (bool) {
      this.$store.dispatch('isArtefactListLoading', bool)
    },
    getNoteList () {
      this.$store.dispatch('isArtefactListLoading', true)
      this.$store.dispatch('getNoteList')
    },
    isArtefactLoading (bool) {
      this.$store.dispatch('isArtefactLoading', bool)
    },
    getSingleArtefact (artefact) {
      this.$store.dispatch('getSingleArtefact')
    },
    editArtefact (artefact) {
      this.$store.dispatch('editArtefact', activeArtefact)
    },
    setShowArtefactEdit: function (bool) {
      this.$store.dispatch('setShowArtefactEdit', bool)
    },
    consoleLog: function (item) {
      console.log('consoleLog called: ' + JSON.stringify(item))
      console.log('selected array: ' + JSON.stringify(this.$refs.selectionArray.value))
    },
    multiselectLabel (option) {
      return `${option.name}`
    },
    checkArtefactsForID: function (artefactuuid) {
//      var potentialIndex = this.$store.getters.activeArtefact.artefacts.findIndex(artefact => artefact.uuid === artefactuuid)
      var potentialIndex = this.activeArtefactArtefacts.findIndex(artefact => artefact.uuid === artefactuuid)
      if (potentialIndex >= 0) { // findIndex returns -1 if not found
        console.log('returning true since we found the uuid in the array')
        return true
      } else {
        return false
      }
    },
    submitToAPI (artefact) {
      this.$store.dispatch('updateActiveArtefactConnectedArtefacts', this.localArtefacts)
      console.log('artefact.uuid: ' + artefact.uuid)
      if (artefact.uuid) {
        this.$store.dispatch('editArtefact', artefact)
      } else {
        this.$store.dispatch('postArtefact', artefact)
      }
    },
    deleteArtefact (artefactuuid) {
      this.$store.dispatch('deleteArtefact', artefactuuid)
    },
    deleteActiveArtefactFromAPI: function () {
      console.log('Calling deleteArtefactFromAPI')
      this.$store.dispatch('deleteArtefactFromAPI', this.activeArtefact.uuid)
    },
    toggleFavorite (artefact) {
      this.$store.dispatch('toggleFavorite', activeArtefact)
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
