<template>
<div class="ui segment">
  <h3>Refers to these Identities:</h3>
  <div class="ui relaxed list">
    <div v-for="thisIdentity in activeArtefact.identities_referred_to" class="item">
      <div class="content">
        <router-link v-bind:to="{ name: 'byuuid', params: { uuid: thisIdentity.uuid }}">{{ thisIdentity.public_name }} ({{ thisIdentity.username }})</router-link>
        <div class="description">{{ thisIdentity.description }}</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'artefact-refers-to-identities-list',
  data: function () {
    return {
    }
  },
  methods: {
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
    isArtefactLoading: function () {
      return this.$store.getters.isArtefactLoading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
