<template>
<div class="ui segment">
  <h3>Refers to these Artefacts:</h3>
  <div class="ui relaxed list">
    <div v-for="thisArtefact in activeArtefact.artefacts" class="item">
      <div class="content">
        <router-link v-bind:to="{ name: 'byuuid', params: { uuid: thisArtefact.uuid }}">{{ thisArtefact.name }}</router-link>
        <div class="description">{{ thisArtefact.description }}</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>

// this.artefact.content = returnedJSON.content
// this.artefact.content_in_html = converter.makeHtml(activeArtefact.content)

export default {
  name: 'artefact-refers-to-list',
  data: function () {
    return {
    }
  },
  methods: {
    toggleFavorite: function (artefact) {
      this.$store.dispatch('toggleFavorite', artefact)
    },
    getAndSetActiveArtefactFromAPI: function (artefactuuid) {
      this.$store.dispatch('getAndSetActiveArtefactFromAPI', artefactuuid)
    }
  },
  computed: {
    activeArtefact: function () {
      return this.$store.getters.activeArtefact
    },
    isArtefactLoading: function () {
      return this.$store.getters.isArtefactLoading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
