<template>
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Websessions</h4>
          <div class="ui inverted link list">
            <a class="item" v-on:click="setWebsession('246f2751-346d-4c36-bcf5-0ff4eb589b55')">JoshSpankit</a>
            <a class="item" v-on:click="setWebsession('6fe5bd9c-d355-42a1-b9a6-b1be20568e64')">Admin</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Footer group 2</h4>
          <div class="ui inverted link list">
            <a class="item">Link</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Footer group 3</h4>
          <div class="ui inverted link list">
            <a class="item">Link</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Call to action.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="http://neo4j-org-dev.herokuapp.com/public/new/img/logo-neo4j.svg" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item">Site Map</a>
        <a class="item">Contact Us</a>
        <a class="item">Terms and Conditions</a>
        <a class="item">Privacy Policy</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'bottom',
  methods: {
    setWebsession (uuid) {
      this.$store.dispatch('setWebsession', uuid)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
