<template>
  <div class="ui attached segment" align="center" >
    <div class="ui inverted dimmer" v-bind:class="{ active: isArtefactListLoading }">
      <div class="ui text loader">Loading</div>
    </div>
    <!-- List buttons -->
    <node-list-item v-for="thisArtefact in this.$store.getters.artefacts" :node="thisArtefact" :key="thisArtefact.uuid"></node-list-item>
  </div>
</template>

<script>
import NodeListItem from './NodeListItem.vue'

export default {
  name: 'file-list',
  props: ['node'],
  computed: {
    isArtefactListLoading: function () {
      return this.$store.getters.isArtefactListLoading
    }
  },
  methods: {
    getParentArtefactInfo: function (filename) {
      this.$root.getArtefactInfo(filename)
    }
  },
  components: {
    NodeListItem
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
