<template>
  <div class="hello">
    <!-- <user-id-bar></user-id-bar> -->
    <h1>{{ msg }}</h1>
    <button id="up" class="toggle" @click="timerCount.push({initTime: Date.now()})">+</button>
    <button id="down" class="toggle" @click="timerCount.pop()">-</button>
    <timer v-for="n in timerCount" :key="n.initTime"></timer>
    <bodylinks></bodylinks>
  </div>
</template>

<script>
import Bodylinks from './Bodylinks.vue'
import Timer from './Timer.vue'
import UserIdBar from './UserIdBar.vue'
export default {
  name: 'hello',
  components: {
    UserIdBar,
    Bodylinks,
    Timer
  },
  data () {
    return {
      timerCount: [{initTime: Date.now()}],
      msg: 'Welcome to Our Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
