<template>
<div>
  <div class="ui basic segment">
    <!-- <a v-show="true" class="ui labeled icon button" v-on:click="toggleShowUserBar">
      <i class="fa fa-fast-backward" title="Go back one call"></i>
    </a> -->
    <a v-show="true" class="ui labeled icon button" v-on:click="toggleShowUserBar" v-bind:class="{ green: showUserBar }">
      <i class="fa fa-users" title="UserBar"></i>
    </a>
    <a class="ui icon button" v-on:click="toggleShowUrlIngesterBar" v-bind:class="{ green: showUrlIngesterBar }">
      <i class="fa fa-cloud-upload" aria-hidden="true" title="Ingest URL"> </i>
    </a>
    <a class="ui icon button" v-on:click="toggleShowNewArtefactForm" v-bind:class="{ green: isShowNewArtefactForm }">
      <i class="fa fa-plus" aria-hidden="true" title="Add New"> </i>
    </a>
    <a class="ui icon button" v-on:click="toggleShowSearchBar" v-bind:class="{ green: showSearchBar }">
      <i class="fa fa-search" aria-hidden="true" title="Search"> </i>
    </a>
<!--  <a class="ui icon button" v-on:click="toggleShowAgentSettingsWindow">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
    <a class="ui labeled icon button" v-on:click="newCall">
      <i class="fa fa-file-o" aria-hidden="true" title="New call"> </i>
    </a> -->
  </div>
  <div>
    <user-id-bar v-if="showUserBar"></user-id-bar>
    <div class="ui hidden divider" v-if="showUserBar"></div>
    <url-ingester v-if="showUrlIngesterBar"></url-ingester>
    <div class="ui hidden divider" v-if="showUrlIngesterBar"></div>
    <search-and-results v-if="showSearchBar"></search-and-results>
    <div class="ui hidden divider" v-if="showSearchBar"></div>
  </div>
</div>
</template>

<script>
import { setActiveArtefact } from '../vuex/actions'
import $ from 'jquery'
import axios from 'axios'

import UserIdBar from './UserIdBar.vue'
import UrlIngester from './UrlIngester.vue'
import SearchAndResults from './SearchAndResults.vue'

export default {
  name: 'menu-bar',
  props: ['node'],
  data: function () {
    return {
      showAgentSettingsWindow: false,
      showUrlIngesterBar: false,
      showSearchBar: false,
      showUserBar: false,
      isUrlIngesterLoading: false,
      successfulsaveUUID: null,
      urlToIngest: null,
      showSuccessMessage: false
    }
  },
  methods: {
    toggleShowUserBar: function () {
      this.showUserBar = !this.showUserBar
    },
    toggleShowUrlIngesterBar: function () {
      this.showUrlIngesterBar = !this.showUrlIngesterBar
    },
    toggleShowNewArtefactForm: function () {
      this.$store.dispatch('toggleShowNewArtefactForm')
    },
    toggleShowSearchBar: function () {
      this.showSearchBar = !this.showSearchBar
    },
    submitURLToAPI: function () {
    }
  },
  computed: {
//    isShowUserBar: function () {
//      return this.$store.getters.isShowUserBar
//    },
//    isShowUrlIngesterBar: function () {
//      return this.$store.getters.isShowUrlIngesterBar
//    },
    isShowNewArtefactForm: function () {
      return this.$store.getters.isShowNewArtefactForm
    }
//    isShowSearchBar: function () {
//      return this.$store.getters.isShowSearchBar
//    }
  },
  components: {
    UserIdBar,
    UrlIngester,
    SearchAndResults
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
