<template>
<div class="ui green segment">
  <div class="ui tiny form" v-bind:class="{ loading: isPostNewArtefactLoading }">
    <h4 class="ui dividing header">Create a new Artefact</h4>
    <div class="one field">
      <div class="field">
        <label>Name</label>
        <input type="text" v-model="thisArtefact.name" placeholder="Artefact"/>
      </div>
    </div>
    <div class="one field">
      <div class="field">
        <label>Description</label>
        <textarea v-model="thisArtefact.description" placeholder="Description" rows="3"></textarea>
      </div>
    </div>
    <div class="one field">
      <div class="field">
        <label>Content (Markdown)</label>
        <textarea v-model="thisArtefact.content" placeholder="Content (Markdown)" rows="20"></textarea>
      </div>
    </div>
    <div class="one field">
      <div class="ui checkbox">
        <input type="checkbox" v-model="isReferBack">
        <label>Refer back to the current artefact</label>
      </div>
    </div>
    <a v-show="true" class="ui green labeled icon button" v-on:click="postNewArtefact(thisArtefact)">
    <i class="fa fa-save"></i>
      Save
    </a>
    <a v-show="true" class="ui white labeled icon button" v-on:click="clearForm">
    <i class="fa fa-trash"></i>
      Clear
    </a>
  </div>
</div>
</template>
<script>
import { postNewArtefact } from '../vuex/actions'
import $ from 'jquery'

// import * from 'semantic-ui-dropdown'
import axios from 'axios'
// import vSelect from 'vue-select'
// vue-select notes:
// https://github.com/sagalbot/vue-select/issues/169#event-1021389505 # Vuex: vue-select wipes out the getter assigned to value.sync #169
// import Multiselect from 'vue-multiselect' // Just doesn't seem to work
// multiselect notes:
// https://github.com/monterail/vue-multiselect/issues/331#issuecomment-290098617 # Request: Example repo with Vue 2.x, webpack, Vuex, and Vue-Multiselect #331
export default {
  name: 'new-artefact-form',
//  components: {vSelect},
//  components: {Multiselect},
  data () {
    return {
      localArtefacts: this.$store.getters.activeArtefact.artefacts.map(function (node) { return node.uuid }),
      isReferBack: null,
      thisArtefact: {
        name: null,
        description: null,
        content: null,
        artefacts: []
      }
    }
  },
  computed: {
    activeArtefactArtefacts: {
      get: function () {
        return this.$store.getters.activeArtefact.artefacts
      },
      set: function (newArray) {
        this.$store.dispatch('updateActiveArtefactConnectedArtefacts', newArray)
      }
    },
    activeArtefactArtefactUUIDs: function () {
      return this.$store.getters.activeArtefact.artefacts.map(function (node) { return node.uuid })
    },
    isPostNewArtefactLoading: function () {
      return this.$store.getters.isPostNewArtefactLoading
    }
  },
  watch: {

  },
  methods: {
    postNewArtefact (thisArtefact) {
//      this.setIsPostNewArtefactLoading(true)
      console.log('Posting new artefact: ' + thisArtefact)
      if (this.isReferBack) {
        console.log('Found isReferBack checked. Adding currect artefact to request.')
        thisArtefact.artefacts.push(this.$store.getters.activeArtefact.uuid)
      }
      this.$store.dispatch('postNewArtefact', thisArtefact)
//      this.setIsPostNewArtefactLoading(false)
    },
    clearForm () {
      this.thisArtefact = {
        name: null,
        description: null,
        content: null,
        artefacts: []
      }
    },
    isArtefactListLoading (bool) {
      this.$store.dispatch('isArtefactListLoading', bool)
    },
    setIsPostNewArtefactLoading (bool) {
      this.$store.dispatch('setIsPostNewArtefactLoading', bool)
    }
  }
}

// $('ui.checkbox').checkbox()

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
