<template>
  <button class="ui basic button" v-on:click="routerGo( node.uuid )">
    {{ node.name }}
  </button>
</template>

<script>
import { setActiveArtefact } from '../vuex/actions'

export default {
  name: 'node-list-item',
  props: ['node'],
  methods: {
    setActiveArtefact (artefact) {
      this.$store.dispatch('setActiveArtefact', artefact)
    },
    routerGo (artefactuuid) {
      this.$router.push({ name: 'byuuid', params: { uuid: artefactuuid } })
      // this.$store.dispatch('setActiveArtefact', artefact)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
