<template>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <router-link :to="{ name: 'byuuid', params: { uuid: node.uuid }}" class="header">{{ node.uuid }}</router-link>
      <div class="description">{{ node.name }}... {{ node.description }}</div>
    </div>
  </div>
</template>

<script>
import { setActiveArtefact } from '../vuex/actions'

export default {
  name: 'search-result-item',
  props: ['node'],
  methods: {
//    setActiveArtefact (artefact) {
//      this.$store.dispatch('setActiveArtefact', artefact)
//    },
    routerGo (artefactuuid) {
      this.$router.push({ name: 'byuuid', params: { uuid: artefactuuid } })
      // this.$store.dispatch('setActiveArtefact', artefact)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
