<template>
<div class="ui segment">
  <div class="ui form" v-bind:class="{ loading: isSearchAndResultsLoading }">
    <div class="ui tiny fluid action input">
      <input type="text" v-model="termToSearchFor" v-on:keyup.enter="submitSearchToAPI" placeholder="Search term"/>
      <button class="ui green right labeled icon button" v-on:click="submitSearchToAPI"">
        <i class="fa fa-search"></i>
        Search
      </button>
    </div>
    <div v-if="showSuccessMessage" class="ui green message">
      <span class="title">
        Search successful


      </span>
      <i class="close icon" v-on:click="showSuccessMessage = false"></i>
    </div>
    <div class="ui relaxed divided list" v-if="this.successfulSearchResults">
      <div class="ui medium header">Results:</div>
      <search-result-item v-for="thisArtefact in this.successfulSearchResults" :node="thisArtefact" :key="thisArtefact.uuid"></search-result-item>
    </div>
<!--    <router-link :to="{ name: 'byuuid', params: { uuid: successfulsaveUUID }}">{{ successfulsaveUUID }}</router-link> -->
  </div>
</div>
</template>

<script>
import { setActiveArtefact } from '../vuex/actions'
import $ from 'jquery'
import axios from 'axios'
import SearchResultItem from './SearchResultItem.vue'

export default {
  name: 'search-and-results',
  props: ['node'],
  data: function () {
    return {
      isSearchAndResultsLoading: false,
      termToSearchFor: null,
      successfulSearchResults: null,
      showSuccessMessage: false
    }
  },
  methods: {
    submitSearchToAPI: function () {
      this.isSearchAndResultsLoading = true
      // Create a new node
      axios.post('/searchbycontent', {searchterm: this.termToSearchFor}, {headers: { 'Authorization': 'Token token=' + this.$store.getters.websession }}).then((response) => {
        // success callback
        console.log('Search successful')
        console.log(response)
        this.successfulSearchResults = response.data
        this.isSearchAndResultsLoading = false
        this.showSuccessMessage = true
        // v.blankTheUI();
      }, (error) => {
        // error callback
        // TODO: Show a reasonable error message to the user if submitting fails.
        this.isSearchAndResultsLoading = false
        console.log(error)
      })
    }
  },
  components: {
    SearchResultItem
  },
  computed: {
//    isUrlIngesterLoading: function () {
//      return this.$store.getters.isUrlIngesterLoading
//    },
    successfulsaveUUIDURL: function () {
//      if (this.successfulsaveUUID) {
//        return '/artefacts/' + this.successfulsaveUUID + '.json'
//      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
