<template>
  <div class="timer">
    <h2>Timer</h2>
    <div>{{ count }}</div>

    <div class="ui middle aligned center aligned grid">
      <button id="down" class="toggle" @click="changeTime">-</button>
      <div id="userTime">{{displayUserTime}}</div>
      <button id="up" class="toggle" @click="changeTime">+</button>
      <div id="goPause-btn" @click="goPause" class="stopped">
        <div id="time-box" v-bind:style="timerBoxStyle">
          <div id="timer-display">{{displayTime}}</div>
        </div>
      </div>
      <div id="goPause-btn" @click="goPause" class="stopped">{{goPauseBtnText}}</div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'timer',
  data () {
    return {
      clockCount: 1500000,
      count: 1500000,
      countdownStatus: 'stopped'
      // now: Date.now()
    }
  },
  methods: {
    removeByValue (array, value) {
      for (var i = array.length - 1; i >= 0; i--) {
        if (array[i] === value) {
          array.splice(i, 1)
        }
      }
    },
    changeTime: function (e) {
      if (this.countdownStatus === 'stopped') {
        switch (e.target.id) {
          case 'up':
            this.clockCount += 60000
            this.count = this.clockCount
            break
          case 'down':
            if (this.clockCount > 60000) {
              this.clockCount -= 60000
              this.count = this.clockCount
            }
            break
        }
      }// end countdownStatus if
    },
    goPause: function () {
      var status = this.countdownStatus
      if (status === 'stopped') {
        this.countdownStatus = 'started'
        this.startClock()
      }
      if (status === 'started') {
        this.countdownStatus = 'stopped'
        this.stopClock()
      }
    },
    startClock: function () {
      this.countdownID = setInterval(this.countDown, 1000)
    },
    countDown: function () {
      this.count = this.count - 1000
      if (this.count === 0) {
        alert('Good job! Take a break.')
        this.stopClock()
        this.reset()
      }
    },
    stopClock: function () {
      clearInterval(this.countdownID)
      this.countdownID = undefined
    },
    reset: function () {
      if (this.countdownStatus === 'started') {
        this.countdownStatus = 'stopped'
      }
      this.stopClock()
      this.count = this.clockCount
    }
  },
  computed: {
    displayUserTime: function () {
      return (this.clockCount / 60000).toString()
    },
    displayTime: function () {
      var mins,
        secs,
        timeStr
      mins = Math.floor(this.count / 60000)
      secs = ((this.count % 60000) / 1000).toFixed(0)
      timeStr = secs === 60 ? (mins + 1) + ':00' : mins + ':' + (secs < 10 ? '0' : '') + secs
      return timeStr
    },
    goPauseBtnText: function () {
      if (this.countdownStatus === 'stopped') {
        return 'Go!'
      }
      if (this.countdownStatus === 'started') {
        return 'Pause'
      }
    },
    timerBoxStyle: function () {
      var transparent = (this.clockCount - this.count) / this.clockCount
      if (transparent === 0 && this.countdownStatus === 'stopped') {
        return {'background-color': 'rgba(226, 72, 72, 1'}
      } else {
        return {'background-color': 'rgba(226, 72, 72,' + transparent}
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#timer-display {
  font-weight: bold;
  font-size: 200px;
}
</style>
