<template>
<div class="ui segment">
  <div class="ui form" v-bind:class="{ loading: isUrlIngesterLoading }">
    <div class="ui tiny fluid action input">
      <input type="text" v-model="urlToIngest" v-on:keyup.enter="submitURLToAPI" placeholder="URL"/>
      <button class="ui green right labeled icon button" v-on:click="submitURLToAPI">
        <i class="fa fa-save"></i>
        Save
      </button>
    </div>
    <div class="one field">
      <div class="ui checkbox">
        <input type="checkbox" v-model="isReferBack">
        <label>Refer back to the current artefact</label>
      </div>
    </div>
    <div v-if="showSuccessMessage" class="ui green message">
      <span class="title">
        URL ingested successfully. Here is the JSON: <a v-bind:href="successfulsaveUUIDURL">{{ successfulsaveUUID }}</a><br>
        URL ingested successfully. Here is the UUID: <router-link :to="{ name: 'byuuid', params: { uuid: successfulsaveUUID }}">{{ successfulsaveUUID }}</router-link>
      </span>
      <i class="close icon" v-on:click="showSuccessMessage = false"></i>
    </div>
  </div>
</div>
</template>

<script>
import { setActiveArtefact } from '../vuex/actions'
import $ from 'jquery'
import axios from 'axios'

export default {
  name: 'url-ingester',
  props: ['node'],
  data: function () {
    return {
      isReferBack: null,
      isUrlIngesterLoading: false,
      successfulsaveUUID: null,
      urlToIngest: null,
      showSuccessMessage: false
    }
  },
  methods: {
    submitURLToAPI: function () {
      this.isUrlIngesterLoading = true
      var artefactToConnect = ''

      if (this.isReferBack) {
        console.log('Found isReferBack checked. Adding currect artefact to request.')
        artefactToConnect = this.$store.getters.activeArtefact.uuid
      }
      // Create a new node
      axios.post('/artefact_from_ingested_url', {urltoingest: this.urlToIngest, artefacts: artefactToConnect}, {headers: { 'Authorization': 'Token token=' + this.$store.getters.websession }}).then((response) => {
        // success callback
        console.log('Save successful')
        console.log(response)
        this.successfulsaveUUID = response.data.artefact.id
        this.isUrlIngesterLoading = false
        this.showSuccessMessage = true
        // v.blankTheUI();
      }, (error) => {
        // error callback
        // TODO: Show a reasonable error message to the user if submitting fails.
        this.isUrlIngesterLoading = false
        console.log(error)
      })
    }
  },
  computed: {
//    isUrlIngesterLoading: function () {
//      return this.$store.getters.isUrlIngesterLoading
//    },
    successfulsaveUUIDURL: function () {
      if (this.successfulsaveUUID) {
        return '/artefacts/' + this.successfulsaveUUID + '.json'
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
