<template>
  <div class="ui container">
  <div class="ui form" v-bind:class="{ loading: isArtefactListLoading }">
    <div class="two fields">
      <div class="four wide field">
      <div class="ui checkbox">
        <input type="checkbox" id="checkbox" v-model="inboxbool" name="returnInbox">
        <label>Return only Inbox Artefacts</label>
      </div>
      </div>
      <div class="twelve wide field">
      <div class="ui tiny fluid action input">
        <input type="text" v-model="this.$store.getters.websession" placeholder="Websession UUID" readonly=""/>
        <button class="ui red right labeled icon button" v-on:click="getNoteList">
          <i class="refresh icon"></i>
          Refresh index
        </button>
      </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import { getNoteList, isArtefactListLoading } from '../vuex/actions'

export default {
  name: 'user-id-bar',
  data: function () {
    return {
      inboxbool: false
    }
  },
  methods: {
    getNoteList () {
      this.$store.dispatch('getNoteList', this.inboxbool)
    }
  },
  computed: {
    isArtefactListLoading: function () {
      return this.$store.getters.isArtefactListLoading
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
